<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <title>Doble Autentificacion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "../../static/css/styleGoogleAuthenticator.css" th:href = "@{/css/styleGoogleAuthenticator.css}">
</head>
<body>

    <div class = "container">
        <form
            id = "idFormAuthentication"
            method = "POST"
            class = "container__form"

        >
            <input
                    type = "hidden"
                    name = "idUser"
                    th:value="${idUser!=null? idUser: ''}"
            >
            <input
                    type = "hidden"
                    name = "codigoCorreo"
                    th:value="${codigo!=null? codigo: ''}"
            >
            <h1 th:if = "${tipo == 'app'}" style="display: block"
                class = "container__title"
            >
                Autenticacion con App
            </h1>
            <h1 th:if = "${tipo == 'correo'}" style="display: block"
                class = "container__title"
            >
                Autenticacion con Correo
            </h1>
            <h1 th:if = "${tipo == 'sms'}" style="display: block"
                class = "container__title"
            >
                Autenticacion con SMS
            </h1>
            <h2
                    class = "container__subtitle"
                    th:if = "${tipo == 'app'}" style = "display: block;"
            >
                Ingrese el codigo que le genera la App
            </h2>
            <h2
                    class = "container__subtitle"
                    th:if = "${tipo == 'correo'}" style = "display: block;"
            >
                Ingrese el codigo que se le envio a su correo
            </h2>
            <h2
                    th:if = "${tipo == 'sms'}" style = "display: block;"
                    class = "container__subtitle"
            >
                Ingrese el codigo que se le envio a su numero de telefono
            </h2>

            <div class = "container__input">
                <label for = "Idcodigo" class = "form__label">
                    <img src = "../../static/icons/password.svg"
                         th:src = "@{/icons/password.svg}"
                    >
                </label>
                <input
                        name = "codigo"
                        class = "form__input"
                        type = "text"
                        placeholder = "codigo"
                        id = "idCodigo"
                        maxlength="6"
                >
            </div>
            <div
                    class = "container__input container__input--error"
                    th:if = "${error!=null}" style="display: block"
                    th:text = "${error!=null}? ${error}: ''"
            >
                <p>Error</p>
            </div>
            <div class = "container__input">
                <input
                        type = "submit"
                        class = "form__button"
                        value = "Verificar Codigo"
                        id = "buttonVerification"
                >
            </div>
        </form>
    </div>
</body>
<script
        src = "../../static/js/authentication.js"
        th:src = "@{/js/authentication.js}"
>

</script>
</html>
