<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <link rel = "stylesheet" th:href = "@{/css/styleLogin.css}" href = "../../static/css/styleLogin.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <form
            method = "POST"
            th:action="@{/change-password-check}"
            class = "form"
            style ="height: 400px">
        <h1>Debe de Cambiar la contraseña</h1>
        <div class = "form__container">
            <label for = "idPassword" class = "form__label">
                <img 
                    th:src = @{/icons/password.svg}
                    src = "../../static/icons/password.svg" 
                    class = "form__icon"
                >
            </label>
            <input 
                type = "password" 
                name = "password" 
                id = "idPassword" 
                class = "form__input"
                placeholder = "Nueva Contraseña"
            >
        </div>
        <div class = "form__container">
            <label for = "idPasswordVerified" class = "form__label">
                <img 
                    th:src = @{/icons/password.svg}
                    src = "../../static/icons/password.svg" 
                    class = "form__icon"
                >
            </label>
            <input 
                type = "password" 
                name = "passwordVerified" 
                class = "form__input"
                placeholder = "Confirmar Nueva Contraseña"
                id = "idPasswordVerified"
            >
        </div>
        <div
                class = "form__container--error"
                th:if = "${errors.get('errorLength') != null}" style = "display:block"
        >
            <p
                    class = "form__error"
                    th:text = "${errors.get('errorLength') != null}? ${errors.get('errorLength')}: ''"
            >
                Las Contraseña no cumple los requerimientos
            </p>
        </div>
        <div
                class = "form__container--error"
                th:if = "${errors.get('errorNoEquals') != null}" style = "display: block"
        >
            <p
                    class = "form__error"
                    th:text = "${errors.get('errorNoEquals') != null }? ${errors.get('errorNoEquals')}: ''"
            >
                Las Contraseña no coinciden
            </p>
        </div>
        <div
                class = "form__container--error"
                th:if = "${errors.get('errorPasswordFond') != null}" style = "display: block"
        >
            <p
                    class = "form__error"
                    th:text = "${errors.get('errorPasswordFound') != null }? ${errors.get('errorPasswordFound')}: ''"
            >
                La Contraseña es igual a las ultimas 3
            </p>
        </div>
        <div class = "form__container">
            <input 
            type = "submit" 
            value = "Cambiar Contraseña" 
            class = "form__button"
            >
        </div>
    </form>
</body>
</html>
