*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: #333;
    color: white;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    font-family: "Alegreya", serif;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
    top: 40px;
}

.main {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    background-color: #000000;
    width: 70%;
    top: 100px;
}

.main__first {
    display: flex;
    flex-direction: column;
}

.main__methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

.main__method {
    height: 100px;
    width: 75%;
    position: relative;
}
.main__options {
    height: 70px;
    width: 10%;
}

.main__subtitle {
    margin-bottom: 20px;
    text-align: center;
}

.main__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.main__text {
    position: absolute;
    left: 70px;
    top: -10px;
}

.main__text--description {
    position: absolute;
    top: 20px;
    left: 70px;
}

.main__option {
    cursor: pointer;
}

.modal__configurar,
.container__password,
.container__email{
    background-color: #333333;
    width: 400px;
    height: 430px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: scale(0);
}
.container__password {
    height: 210px;
}

.container__email {
    height: 240px;
}

.modal__img {
    width: 200px;
    height: 200px;

}

.modal__subtitle {
    position: relative;
    top: 10px;
    margin-bottom: 20px;
}

.open-modal-configurar {
    animation: openModalConfigurar 0.3s forwards;
}

.close-modal-configurar {
    animation: closeModalConfigurar 0.3s forwards;
}

.form__close {
    position: absolute;
    top: 10px;
    left: 90%;
    cursor: pointer;
}

@keyframes openModalConfigurar {
     0% {
         transform: scale(0);
     }
    100% {
        transform: scale(1);
    }
}
@keyframes closeModalConfigurar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
