<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="${userNameEmployee}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
       <div class="container-fluid">
    <!-- BARRA NAVEGACIÓN -->
    <div class="bg-light">
		<nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom border-primary">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">Sistema De Seguridad </a>
                <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#MenuNavegacion">
                        <span class="navbar-toggler-icon"></span>
                </button>
            </div>

			<div id="MenuNavegacion" class="collapse navbar-collapse">
				<ul class="navbar-nav ms-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                          Opciones de usuario
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="userStatistics.html" th:href = "@{http://localhost:8080/userStatistics(userNameEmployee=${userNameEmployee})}">Estadisticas de usuario</a></li>
                          <li><a class="dropdown-item" th:href = "@{http://localhost:8080/changePasswordUser(userNameEmployee=${userNameEmployee})}">Cambiar contraseña</a></li>
                          <li><a class="dropdown-item" th:href = "@{/account/changeAuthenticationForm}">Cambiar forma de autenticación</a></li>
                        </ul>
                    </li>
				</ul>
                <ul class="navbar-nav ms-3">
					<li class="nav-item">
                        <a class="nav-link text-nowrap" th:href="@{http://localhost:8080/logout}">Cerrar sesión</a>
                    </li>
                </ul>
			</div>
		</nav>
	</div>

  <div class="row justify-content-center mt-4">
    <div class="col-10 col-md-6 col-lg-4 text-center">
      <h3 class="text-decoration-none">👉Bienvenidio a su cuenta de usauario.</a>
    </div>
  </div>
        <div class="container">
            <div class="row">
            	<div class="col-12 my-3 pt-3 shadow">
                    <img th:src = @{/icons/username.svg} class="float-left rounded-circle mr-2">
            		<h1 th:text="${nameEmployee}"></h1>
            		<h3 th:text="${userCell}"></h3>
            		<p>
            			<strong>WorkStation</strong>:<label th:text="${userWorkstation}" id="user_wirkstation"></label>  <br>
            			<strong >Email</strong>:<label th:text="${userEmail}" id="user_email"></label><br>
            			<strong>DUI employee</strong>:<label th:text="${userDui}" id="dui_employee"></label><br>
            			<strong>ID user</strong>:<label th:text="${idUser}" id="idUser"></label>
            		</p>
                    <p>
                        
                    </p>
                    <hr>
                    <p>
                       <strong>Municipio</strong>: <label th:text="${userMunicipality}" id="user_municipality"></label><br>
                        <strong>Calle</strong>: <label th:text="${userStreet}" id="user_street"></label><br>
                    </p>

                    <hr>
                    </div>
            	</div>
            </div>
        </div>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>