<!DOCTYPE>
<html>
    <head>
        <title>Register</title>
        <meta charset = "UTF-8" />
        <meta http-equiv="X-UA-Compatible" content = "IE = edge" />
        <meta 
        name = "viewport" 
        content = "width = device-width, 
        initial-scale = 1.0" />
        <link rel = "stylesheet" th:href = "@{/css/style.css}" href = "../static/css/style.css" >
    </head>
    <body>
        <h1 class = "title">Nuevo Empleado</h1>

        <form 
            class = "container-form" 
            method = "POST" 
            name = "form-register-employee"
            id = "form-register-employee-id"
            th:action = "@{/save}"
        >

            <!--<input type = "hidden" name = "register" value = "register"/>-->
            <!--Nombre-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "firstNameEmployee"
                >
                    Nombres
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/person.svg}
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                <input
                        class = "container-form__input"
                        type = "text"
                        placeholder = "Nombres de Empleado"
                        name = "employee_name"
                        id = "firstNameEmployee"
                        required
                />
            </div>
                <!--Apellidos-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "lastNameEmployee"
                >
                    Apellidos
                </label>
                <span class = "container-form__icon">
                    <img
                    th:src = "@{/icons/person.svg}"
                    src = "../static/icons/person.svg"  
                        alt = "Icon person" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "Apellidos de Empleado"
                    name = "employee_last_name"
                    id = "lastNameEmployee"
                    required
                />
            </div>
            <!--Dui-->
            <div class = "container-form__data">
                    <label
                            class = "container-form__label"
                            for = "duiEmployee"
                    >
                        Dui
                    </label>
                    <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/person.svg}
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                    <input
                            class = "container-form__input"
                            type = "text"
                            placeholder = "Dui de Empleado"
                            name = "employee_dui"
                            id = "duiEmployee"
                            maxlength="9"
                    />
            </div>
                <!--Nit-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "nitEmployee"
                >
                    Nit
                </label>
                <span class = "container-form__icon">
                    <img 
                        th:src = @{/icons/person.svg}
                        src = "../static/icons/person.svg"
                        alt = "Icon person" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "Nit del empleado"
                    name = "employee_nit"
                    id = "nitEmployee"
                    maxlength="14"
                    required
                />
            </div>
                <!--Fecha de nacimiento-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "dateBirthEmployee"
                >
                    Fecha de nacimiento
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/date.svg}
                    src = "../static/icons/date.svg"
                        alt = "Icon date" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "date"
                     placeholder = "Fecha de nacimiento"
                    name = "employee_date_birth"
                    id = "dateBirthEmployee"
                    required
                />
            </div>
                <!--NUP-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "nupEmployee"
                >
                    NUP
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/person.svg}
                    src = "../static/icons/person.svg"
                        alt = "Icon person"
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "NUP"
                    name = "employee_nup"
                    id = "nupEmployee"
                    required
                />
            </div>
                <!--Email-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "emailEmployee"
                >
                    Email
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/mail.svg}
                    src = "../static/icons/mail.svg"
                        alt = "Icon mail"
                    />
                </span>
                <input 
                    class = "container-form__input"
                    type = "email"
                    placeholder = "Email"
                    name = "employee_email"
                    id = "emailEmployee"
                    required

                />
            </div>
                <!--Telefono-->
            <div class = "container-form__data">
                    <label
                            class = "container-form__label"
                            for = "cellPhoneEmployee"
                    >
                        Telefono
                    </label>
                    <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/cell.svg}
                            src = "../static/icons/cell.svg"
                            alt = "Icon cell"
                    />
                </span>
                    <input
                            class = "container-form__input"
                            type = "text"
                            placeholder = "Telefono"
                            name = "employee_cell_phone"
                            id = "cellPhoneEmployee"
                            required
                            maxlength="8"
                    />
            </div>
                <!--WorkStation-->
            <div class = "container-form__data">
                    <label
                            class = "container-form__label"
                            for = "idWorkStation"
                    >
                        Workstation
                    </label>
                    <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/person.svg}
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                    <select
                            name = "employee_work_station"
                            id = "idWorkStation"
                            required
                    >
                        <option
                                th:each = "workStation:${workStations}"
                                th:value = "${workStation.idWorkStation}"
                                th:text = "${workStation.nameWorkStation}"
                        >
                        </option>
                    </select>
            </div>
                <!--Genero-->
            <div class = "container-form__data">
                    <label
                            class = "container-form__label"
                            for = "idGenders"
                    >
                        Genero
                    </label>
                    <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/person.svg}
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                    <select
                            name = "employee_genders"
                            id = "idGenders"
                            required
                    >

                        <option
                                th:each = "gender: ${genders}"
                                th:value = ${gender.idGenders}
                                th:text = ${gender.nameGenders}
                        >

                        </option>

                    </select>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "selectDepartament"
                >
                    Departamento
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = "@{/icons/person.svg}"
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                <select
                        id = "selectDepartament"
                        name = "departament"
                        required
                >
                    <option
                            th:each = "departament:${departaments}"
                            th:value = "${departament.idDepartament}"
                            th:text = "${departament.NameDepartament}"
                    >

                    </option>

                </select>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "selectMunicipality"
                >
                    Municipio
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = "@{/icons/person.svg}"
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                <select
                        id = "selectMunicipality"
                        name = "municipality"
                        required
                >


                </select>
            </div>
                <!--Address-->
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idColonia"
                >
                    Colonia
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/home.svg}
                            src = "../static/icons/home.svg"
                            alt = "Icon home"
                    />
                </span>
                <input
                        class = "container-form__input"
                        type = "text"
                        placeholder = "Direccion"
                        name = "coloniaDirrecion"
                        id = "idColonia"
                        required
                />
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idCalle"
                >
                    Calle
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/home.svg}
                            src = "../static/icons/home.svg"
                            alt = "Icon home"
                    />
                </span>
                <input
                        class = "container-form__input"
                        type = "text"
                        placeholder = "Direccion"
                        name = "calleDireccion"
                        id = "idCalle"
                        required
                />
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idNumeroCasa"
                >
                    Numero Casa
                </label>
                <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/home.svg}
                            src = "../static/icons/home.svg"
                            alt = "Icon home"
                    />
                </span>
                <input
                        class = "container-form__input"
                        type = "text"
                        placeholder = "Direccion"
                        name = "numeroCasaDireccion"
                        id = "idNumeroCasa"
                        required
                />
            </div>
                <!--ISSS-->
            <div class = "container-form__data">
                    <label
                            class = "container-form__label"
                            for = "isssEmployee"
                    >
                        Numero de ISSS
                    </label>
                    <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/person.svg}
                            src = "../static/icons/person.svg"
                            alt = "Icon person"
                    />
                </span>
                    <input
                            class = "container-form__input"
                            type = "text"
                            placeholder = "Numero ISSS"
                            name = "employee_isss"
                            id = "isssEmployee"
                            required
                    />
            </div>
            <div class = "container-form__data">
                <button 
                    class = "container-form__button"
                    id = "button-register-employee-id"
                >
                    Registrar
                </button>
            </div>
        </form>
    <script th:src = "@{/js/municipality.js}"></script>
    </body>
</html>
