<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Recuperar Contraseña</title>
    <meta charset = "UTF-8" />
    <meta http-equiv="X-UA-Compatible" content = "IE = edge" />
    <meta
            name = "viewport"
            content = "width = device-width,
        initial-scale = 1.0" />
    <link rel = "stylesheet" th:href = "@{/css/style.css}" href = "../static/css/style.css" >
</head>
<body>
<h1 class = "title">Recuperar Contraseña</h1>

<form
        class = "container-form"
        method = "POST"
        name = "form-register-employee"
        id = "form-register-employee-id"
        th:action = "@{/forgot_password}"
>
    <input type = "hidden" name = "register" value = "register"/>
    <center><p><h3>Por favor, ingrese un correo electronico</h3></p></center>
    <div class = "container-form__data">
        <label
                class = "container-form__label"
                for = "idInputEmail"
        >
            Email
        </label>
        <span class = "container-form__icon">
                    <img
                            th:src = @{/icons/mail.svg}
                            src = "../static/icons/mail.svg"
                            alt = "Icon person"
                    />
                </span>
        <input
                class = "container-form__input"
                type = "text"
                placeholder = "Email del empleado"
                name = "employee_email"
                id = "idInputEmail"
        />
    </div>
    <div
            th:if = "${error != null}">
            <center><p class = "text-danger">[[${error}]]</p></center>
    </div>
    <div
            th:if = "${message != null}">
            <center><p class = "text-warning">[[${message}]]</p></center>
    </div>
    <div class = "container-form__data">
        <button
                class = "container-form__button"
                id = "button-register-employee-id"
        >
            Enviar
        </button>
    </div>
</form>
</body>
</html>
