<!DOCTYPE html>
<html lang="es" xmlns:th=http://www.thymeleaf.org>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<title>Inicio</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel = "stylesheet" th:href = "@{/css/styleAdmin.css}" href = "../static/css/styleAdmin.css" >
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
    
    
</head>
<body>

	<!-- NavBar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" th:href="@{/home}">Sistema de seguridad</a>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{/homeAdmin}">Inicio<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/employee/index}">Lista de empleados</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/create}">Agregar empleados</a>
	      </li>
		  <li class="nav-item" >
			<a class="nav-link" th:href="@{/userAccount}">Perfil de usuario</a>
		  </li>
	    </ul>
		  <div class = "collapse navbar-collapse" style="justify-content: flex-end">
			  <ul class = "navbar-nav ms-3">
				  <li class="nav-item">
					  <a class="nav-link" th:href="@{/logout}">Cerrar sesion</a>
				  </li>
			  </ul>
		  </div>
	    <!--<form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>-->
	  </div>
	</nav>
	<div class="flex-center">
		<div id="fondo" class="flex-center">
			<!-- Contenedor de lista de empleados -->
				<div class="container">
					<div class="row">
						<div class="col-12">
						</div>
						<h1>Bienvenido Administrador</h1>
					</div>
				</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>


