<!DOCTYPE>
<html>
    <head>
        <title>Register</title>
        <meta charset = "UTF-8" />
        <meta http-equiv="X-UA-Compatible" content = "IE = edge" />
        <meta 
        name = "viewport" 
        content = "width = device-width, 
        initial-scale = 1.0" />
        <link rel = "stylesheet" th:href = "@{/css/style.css}" href = "../static/css/style.css" >
    </head>
    <body>
        <h1 class = "title">Nuevo Empleado</h1>

        <form 
            class = "container-form" 
            method = "POST" 
            name = "form-register-employee"
            id = "form-register-employee-id"
            th:action = "@{/register-check}"
        >
            <input type = "hidden" name = "register" value = "register"/>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputFirstName"
                >
                    Nombres
                </label>
                <span class = "container-form__icon">
                    <img 
                        th:src = @{/icons/person.svg}
                        src = "../static/icons/person.svg" 
                        alt = "Icon person" 
                    />
                </span>
                <input
                    class = "container-form__input"
                    type = "text" 
                    placeholder = "Nombres de Empleado" 
                    name = "employee_name"
                    id = "idInputFirstName"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-name"
                    th:if = "${errors.get('errorFirstName') != null}" style="opacity: 1"
            >
                <p
                        th:text = "${errors.get('errorFirstName')!=null}? ${errors.get('errorFirstName')}: ''"
                        class = "form__error">
                    Error de datos
                </p>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputLastName"
                >
                    Apellidos
                </label>
                <span class = "container-form__icon">
                    <img
                    th:src = @{/icons/person.svg}
                    src = "../static/icons/person.svg"  
                        alt = "Icon person" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "Apellidos de Empleado" 
                    name = "employee_last_name"
                    id = "idInputLastName"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-last-name"
                    th:if = "${errors.get('errorLastName') != null}" style="opacity: 1"
            >
                <p
                        th:text = "${errors.get('errorLastName') != null}? ${errors.get('errorLastName')}: ''"
                        class = "form__error">
                    Esto es un error
                </p>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputEmail"
                >
                    Email
                </label>
                <span class = "container-form__icon">
                    <img 
                        th:src = @{/icons/mail.svg}
                        src = "../static/icons/mail.svg" 
                        alt = "Icon person" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "Email del empleado" 
                    name = "employee_email"
                    id = "idInputEmail"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-email"
                    th:if = "${errors.get('errorEmail') != null}" style="opacity: 1"
            >
                <p
                        th:text = "${errors.get('errorEmail') !=null}? ${errors.get('errorEmail')}: ''"
                        class = "form__error"
                >

                    Esto es un error
                </p>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputDateBirth"
                >
                    Fecha de Nacimiento
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/date.svg}
                    src = "../static/icons/date.svg"
                        alt = "Icon date" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "date"
                     placeholder = "Fecha de nacimiento" 
                    name = "employee_date_birthday"
                    id = "idInputDateBirth"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-date"
                    th:if = "${errors.get('errorDateBirth') != null}" style="opacity: 1"
            >
                <p
                        th:text = "${errors.get('errorDateBirth') != null}? ${errors.get('errorDateBirth')}: ''"
                        class = "form__error">

                    Esto es un error
                </p>
            </div>

            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputCellPhone"
                >
                    Telefono
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/cell.svg}
                    src = "../static/icons/cell.svg"
                        alt = "Icon cellphone" 
                    />
                </span>
                <input 
                    class = "container-form__input" 
                    type = "text" 
                    placeholder = "Telefono" 
                    name = "employee_cellphone"
                    id = "idInputCellPhone"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-cellphone"
                    th:if = "${errors.get('errorCellPhone') != null}" style="opacity: 1"
            >
                <p th:text = "${errors.get('errorCellPhone') !=null}? ${errors.get('errorCellPhone')}: ''" class =
                        "form__error">

                    Esto es un error
                </p>
            </div>
            <div class = "container-form__data">
                <label
                        class = "container-form__label"
                        for = "idInputPassword"
                >
                    Passcode
                </label>
                <span class = "container-form__icon">
                    <img 
                    th:src = @{/icons/password.svg}
                    src = "../static/icons/password.svg" 
                        alt = "Icon type" 
                    />
                </span>
                <input 
                    class = "container-form__input"
                    type = "text"
                    placeholder = "passcode"
                    name = "employee_passcode"
                    id = "idInputPassword"
                    maxlength="4"
                />
            </div>
            <div
                    class = "container-form__error"
                    id = "error-passcode"
                    th:if = "${errors.get('emptyPasscode') != null}" style="opacity: 1"
            >
                <p
                        th:text = "${errors.get('emptyPasscode') !=null}? ${errors.get('emptyPasscode')}: ''"
                        class = "form__error">
                    Esto es un error
                </p>
            </div>
            <div class = "container-form__data">
                <button 
                    class = "container-form__button"
                    id = "button-register-employee-id"
                >
                    Registrar
                </button>
            </div>
        </form>
    </body>
</html>
