<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Registro exitoso</title>
  </head>
  <body>
    <div class="alert alert-success">Se ha registrado con exito, 
    termine la configuración de su cuenta. Ingrese a su correo para terminar el registro.
    </div>
    <div class="col-auto  p-5 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Dato</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td th:text="${newUser.employee.firstNameEmployee}"></td>
          </tr>
          <tr>
            <th scope="row">Last name</th>
            <td th:text="${newUser.employee.lastNameEmployee}"></td>
          </tr>
          <tr>
            <th scope="row">Phone</th>
            <td th:text="${newUser.employee.cellPhoneEmployee}"></td>
          </tr>
          <tr>
            <th scope="row">WorkStation</th>
            <td th:text="${newUser.employee.workStationEmployee.nameWorkStation}"></td>
          </tr>
           <tr>
            <th scope="row">email</th>
            <td th:text="${newUser.employee.emailEmployee}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>