<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <title>Reestablecer Contraseña</title>
    <link rel = "stylesheet" th:href = "@{/css/styleLogin.css}" href = "../static/css/styleLogin.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
<form
        class = "form"
        method = "POST"
        th:action = "@{/reset_password}"
>
    <input type="hidden" name="token" th:value="${token}" />
    <h1 class = "form__title">Reestabecer Contraseña</h1>
    <div class = "form__container">
        <label
                for = "password"
                class = "form__label"
        >
            <img
                    th:src = @{/icons/password.svg}
                    src = "../static/icons/password.svg"
                    class = "form__icon"
            >
        </label>
        <input
                type = "password"
                name = "password"
                id = "password"
                class = "form__input"
                placeholder = "Nueva Contraseña"
        >
    </div>
    <div class = "form__container">
        <label
                for = "password"
                class = "form__label"
        >
            <img
                    th:src = @{/icons/password.svg}
                    src = "../static/icons/password.svg"
                    class = "form__icon"
            >
        </label>
        <input
                type = "password"
                name = "confirnPassword"
                class = "form__input"
                placeholder = "Confirmar Contraseña"
                oninput="checkPasswordMatch(this);"
        >
    </div>
    <div
            th:if = "${message != null}">
        <center><p class = "text-warning">[[${message}]]</p></center>
    </div>
    <div class = "form__container">
        <input
                type = "submit"
                id = "resetbutton"
                value = "Cambiar Contraseña"
                class = "form__button"
        >
    </div>
</form>
</body>
</html>
