
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
       <link href = "../../static/css/styleAddMethod.css" th:href = "@{/css/styleAddMethod.css}" rel = "stylesheet ">
        <link href = "../../static/css/styleGoogleAuthenticator.css.css" th:href = "@{/css/styleGoogleAuthenticator.css}" rel = "stylesheet ">
       <title>Recursos Humanos</title>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light border-3 border-bottom border-primary">
                <span class="navbar-brand mb-0 h1">Sistema de Seguridad</span>
                <a class="navbar-brand" th:href="@{http://localhost:8080/userAccount}">Inicio</a>
            </nav>
        </div>
        <h1 class = "title">Autenticacion de 2 pasos</h1>
        <div class = "main">
            <div
                    id = "idMainFirst"
                    class = "main__first"
            >
                <h2 class = "main__subtitle">Tus metodos de Seguridad</h2>

            </div>
            <div
                    class = "main__second"
                    id = "idMainSecond"
            >
                <h2 class = "main__subtitle">Metodos Adicionales</h2>
            </div>

        </div>
        <!-- Modal para configurar el metodo por App -->
        <div
                class = "modal__configurar"
                id = "idModalConfigurar"
        >
            <img
                    class = "form__close"
                    src = "../static/icons/close.svg"
                    th:src = "@{/icons/close.svg}"
                    id = "idCloseFormModal"
            >
            <h2 class = "modal__subtitle">Autenticacion App</h2>
            <div>
                <img
                        id = "idModalBarCode"
                        class = "modal__img"
                >
            </div>
            <div
                    class = "container__input"
                    style="margin-top: 15px"
            >
                <label for = "idInputCodigo" class = "form__label">
                    <img src = "../../static/icons/password.svg"
                         th:src = "@{/icons/password.svg}"
                    >
                </label>
                <input
                        type = "text"
                        id = "idInputCodigo"
                        placeholder="Codigo"
                        class = "form__input"
                >
            </div>
            <div
                    class = "container__input container__input--error"
                    style="margin-top: 15px; margin-bottom: -15px;"
                    id = "idContainerError"
            >
                <p id = "idMessageError">Error</p>
            </div>
            <div
                    class = "container__input container__input--modal"
                    style="margin-top: 15px"
            >
                <input
                        type = "submit"
                        id = "idButtonCodigo"
                        value = "Configurar"
                        class = "form__button"
                        style="margin-top: 5px"
                >
            </div>
        </div>
        <!-- Modal pedir password -->
        <div class = "container__password" id = "idContainerPassword">
            <h2 class = "modal__subtitle">Escriba su Password</h2>
            <img
                    class = "form__close"
                    src = "../static/icons/close.svg"
                    th:src = "@{/icons/close.svg}"
                    id = "idCloseFormModalPassword"
            >
            <div class = "container__input" style="margin-top: 15px;">
                <label for = "idInputPassword" class = "form__label">
                    <img
                            th:src = @{/icons/password.svg}
                            src = "../../static/icons/password.svg"
                            class = "form__icon"
                    >
                </label>
                <input type = "password" id = "idInputPassword" placeholder="Password" class = "form__input">
            </div>
            <div
                    class = "container__input container__input--error"
                    style="margin-top: 15px; margin-bottom: -15px"
                    id = "idContainerPasswordError"
            >
                <p id = "idMessagePasswordError">Error</p>
            </div>
            <div class = "container__input container__input--modal" style="margin-top: 15px">
                <input
                        type = "submit"
                        value = "Confirmar"
                        class = "form__button"
                        style = "margin-top: 5px"
                        id = "idButtonPassword"
                >
            </div>
        </div>
        <!-- Modal Autenticacion Correo-->
        <div
                class = "container__email"
                id = "idContainerEmail"
        >
            <img
                    class = "form__close"
                    src = "../static/icons/close.svg"
                    th:src = "@{/icons/close.svg}"
                    id = "idCloseFormModalEmail"
            >
            <h2 class = "modal__subtitle">Autenticacion Correo</h2>
            <p>Se le envio un correo con el codigo</p>
            <div class = "container__input">
                <label class = "form__label">
                    <img src = "../../static/icons/password.svg"
                         th:src = "@{/icons/password.svg}"
                    >
                </label>
                <input
                        class = "form__input"
                        type = "form__input"
                        id = "idInputCorreo"
                        placeholder="Codigo"
                >
            </div>
            <div
                    class = "container__input container__input--error"
                    style="margin-top: 15px; margin-bottom: -15px"
                    id = "idContainerEmailError"
            >
                <p id = "idMessageEmailError">Error</p>
            </div>
            <div
                    class = "container__input container__input--modal"
                    style="margin-top: 15px"
            >
                <input
                        type = "submit"
                        id = "idButtonEmail"
                        value = "Configurar"
                        class = "form__button"
                        style="margin-top: 5px"
                >
            </div>

        </div>
    </body>
<script
        th:src = "@{/js/authenticationCRUD.js}"
        src = "../../static/js/authenticationCRUD.js"
>
</script>
</html>
