
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
       <link href = "../../static/css/styleAddMethod.css" th:href = "@{/css/styleAddMethod.css}" rel = "stylesheet ">
        <link href = "../../static/css/styleGoogleAuthenticator.css.css" th:href = "@{/css/styleGoogleAuthenticator.css}" rel = "stylesheet ">
       <title>Recursos Humanos</title>
    </head>
    <body>
        <h1 class = "title">Autenticacion de 2 pasos</h1>
        <div class = "main">
            <div
                    id = "idMainFirst"
                    class = "main__first"
            >
                <h2 class = "main__subtitle">Tus metodos de Seguridad</h2>

            </div>
            <div
                    class = "main__second"
                    id = "idMainSecond"
            >
                <h2 class = "main__subtitle">Metodos Adicionales</h2>
            </div>

        </div>
        <div
                class = "modal__configurar"
                id = "idModalConfigurar"
        >
            <img
                    class = "form__close"
                    src = "../static/icons/close.svg"
                    th:src = "@{/icons/close.svg}"
                    id = "idCloseFormModal"
            >
            <h2 class = "modal__subtitle">Autenticacion App</h2>
            <div>
                <img
                        id = "idModalBarCode"
                        class = "modal__img"
                >
            </div>
            <div
                    class = "container__input"
                    style="margin-top: 15px"
            >
                <label for = "idCodigo" class = "form__label">
                    <img src = "../../static/icons/password.svg"
                         th:src = "@{/icons/password.svg}"
                    >
                </label>
                <input
                        type = "text"
                        id = "idInputCodigo"
                        placeholder="Codigo"
                        class = "form__input"
                >
            </div>
            <div
                    class = "container__input container__input--error"
                    style="margin-top: 15px; margin-bottom: -15px;"
            >
                <p>Error</p>
            </div>
            <div
                    class = "container__input container__input--modal"
                    style="margin-top: 15px"
            >
                <input
                        type = "submit"
                        id = "idButtonCodigo"
                        value = "Configurar"
                        class = "form__button"
                        style="margin-top: 5px"
                >
            </div>
        </div>
    </body>
<script
        th:src = "@{/js/authenticationCRUD.js}"
        src = "../../static/js/authenticationCRUD.js"
>
</script>
</html>
