
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap" rel="stylesheet">
       <link href = "../../static/css/styleAddMethod.css" th:href = "@{/css/styleAddMethod.css}" rel = "stylesheet ">
       <title>Recursos Humanos</title>
    </head>
    <body>
        <h1 class = "title">Autenticacion de 2 pasos</h1>

        <div class = "main">
            <div class = "main__first">
                <h2 class = "main__subtitle">Tus metodos de Seguridad</h2>
                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/qrCode.png">
                        <p class = "main__text">Aplicacion de Autenticacion</p>
                        <p class = "main__text--description">Puede usar las aplicacion de Google Authenticator o Authy</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Editar</p>
                        <p class = "main__option">Desactivar</p>
                    </div>
                </div>

                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/correo.png">
                        <p class = "main__text">Correo Electronico</p>
                        <p class = "main__text--description">El codigo se le enviara a su correo</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Editar</p>
                        <p class = "main__option">Desactivar</p>
                    </div>
                </div>
                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/sms.png">
                        <p class = "main__text">Mensaje de Texto</p>
                        <p class = "main__text--description">El codigo se le enviara por un sms</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Editar</p>
                        <p class = "main__option">Desactivar</p>
                    </div>
                </div>
            </div>
            <div class = "main__second">
                <h2 class = "main__subtitle">Metodos Adicionales</h2>
                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/qrCode.png">
                        <p class = "main__text">Aplicacion de Autenticacion</p>
                        <p class = "main__text--description">Puede usar las aplicacion de Google Authenticator o Authy</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Configurar</p>
                    </div>
                </div>

                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/correo.png">
                        <p class = "main__text">Correo Electronico</p>
                        <p class = "main__text--description">El codigo se le enviara a su correo</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Configurar</p>
                    </div>
                </div>
                <div class = "main__methods">
                    <div class = "main__method">
                        <img class = "main__img" src = "../../static/img/sms.png">
                        <p class = "main__text">Mensaje de Texto</p>
                        <p class = "main__text--description">El codigo se le enviara por un sms</p>
                    </div>
                    <div class = "main__options">
                        <p class = "main__option">Configurar</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
